[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pipenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
flask-bootstrap = "*"
python-firebase = "*"
flask-mail = "*"
wtforms = "*"
pyqrcode = "*"
click = "*"
dominate = "*"
itsdangerous = "*"
markupsafe = "*"
onetimepass = "*"
six = "*"
sqlalchemy = "*"
visitor = "*"

[dev-packages]

[requires]
python_version = "3.6"
